body{
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    background-color: #FFFFFF;
    font-style: normal;
    color: #0E114A;
    font-size: 24px;
    line-height: 24px;
    padding:0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
  flex: 1;
}

h1,h2{
    padding:0;
    margin:0;
}

.eclipse {
    width: 61px;
    height: 55px;
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
}

.eclipse-number {
    font-size: 32px;
    line-height: 32px;
}

header{
    display:flex;
    margin-left:157px;
    margin-top:231px;
    margin-bottom:29px;
}

.header-title{
    margin-top:10px;
    width:456px;
    height:51px;
    font-size:32px;
    line-height:32px;
    font-weight:400;
}

.main-title{
    font-weight:400;
    font-size:40px;
    line-height:40px;
    margin-left:193px;
    margin-bottom:54px;
    width:876px;
    height:63px;
}

.article-1{
    margin-left:157px;
    margin-bottom:60px;
    width:1114px;
}

.article-1-text{
    margin-bottom:20px;
}

.article-1-text:last-child{
    margin-bottom:0px;
}

.article-2 {
    width: 1074px;
    min-height: 2280px;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    margin-left: 166px;
    margin-bottom:98px;
}

.article-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;        
    bottom: 0;
    width: 13px;        
    height: auto;       
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center 15%;
    border-radius: 15px 0 0 15px;  
    pointer-events: none;
}

.article-2-title{
    font-size:20px;
    line-height:20px;
    font-weight:700;
    padding-top:43px;
    margin-bottom:36px;
    margin-left:33px;
}

.article-2-information{
    font-size:20px;
    line-height:20px;
    margin-left: 59px;
}

.article-2-text{
    margin-bottom:50px;
}
.settings{
    margin-bottom:40px;
}

.article-3 {
    width: 1074px;
    min-height: 215px;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    margin-left: 166px;
    margin-bottom:95px;
}

.article-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;        
    bottom: 0;
    width: 13px;        
    height: auto;       
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center 15%;
    border-radius: 15px 0 0 15px;  
    pointer-events: none;
}

.article-3-information{
    width:1003px;
    padding-top:18px;
    margin-left:21px;
    margin-bottom:27px;
    font-size:20px;
    line-height:20px;
}

.article-3-title{
    font-weight:700;
    margin-bottom:20px;
}

.article-3-text{
    margin-bottom:20px;
}

.article-3-text:last-child{
    margin-bottom:0;
}

.article-4 {
    width: 1074px;
    min-height: 146px;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    margin-left: 166px;
    margin-bottom:132px;
}

.article-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;        
    bottom: 0;
    width: 13px;        
    height: auto;       
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center 15%;
    border-radius: 15px 0 0 15px;  
    pointer-events: none;
}

.article-4-information{
    margin-left:35px;
    padding-top:18px;
    margin-bottom:12px;
    width:1003px;
    height:101px;
    font-size:20px;
    line-height:20px;
}

.article-4-title{
    font-weight:700;
    margin-bottom:20px;
}

.article-5 {
    width: 1074px;
    min-height: 208px;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    margin-left: 166px;
    margin-bottom:100px;
}

.article-5::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;        
    bottom: 0;
    width: 13px;        
    height: auto;       
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center 15%;
    border-radius: 15px 0 0 15px;  
    pointer-events: none;
}

.article-5-information{
    margin-left:21px;
    margin-bottom:13px;
    padding-top:1px;
    font-size:20px;
    line-height:20px;
    width:1003px;
    height:172px;
}

.article-5-title{
    font-weight:700;
    margin-bottom:15px;
}

.article-5-text{
    margin-bottom:15px;
}
.article-5-text:last-child{
    margin-bottom:0;
}

.article-6 {
    width: 1074px;
    min-height: 214px;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    margin-left: 166px;
    margin-bottom:100px;
}

.article-6::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;        
    bottom: 0;
    width: 13px;        
    height: auto;       
    background-image: url("../img/bgmain.jpg");
    background-size: cover;
    background-position: center 15%;
    border-radius: 15px 0 0 15px;  
    pointer-events: none;
}

.article-6-information{
    margin-left:21px;
    margin-bottom:40px;
    padding-top:18px;
    width:1003px;
    height:189px;
    font-size:20px;
    line-height:20px;
}

.article-6-title{
    font-weight:700;
    margin-bottom:20px;
}

.article-6-text:first-child{
    margin-bottom:20px;
}

footer{
    background-size: cover;
    min-height: 189px;
    margin-top:auto;
    padding:0;
    background:none;
    background-color:#0E114A;
}

.footer-text{
    padding:0;
    margin:0;
    padding-top:79px;
    text-align:right;
    font-size:20px;
    line-height: 20px;
    color:#FFFFFF;
}