.main-title {
  margin-left: 36px;
  margin-bottom: 29px;
  width: 876px;
  height: 63px;
}

.article-1 {
  margin-left: 3px;
  margin-bottom: 70px;
  width: 1117px;
}

.article-1-text-1 {
  margin-bottom: 20px;
}

.article-2 {
  width: 1074px;
  height: 1723px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 129px;
}

.article-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position: 45% center;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-2-information {
  width: 1003px;
  margin-left: 21px;
  padding-top: 23px;
  font-size: 20px;
  line-height: 20px;
}

.article-2-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.article-2-text {
  margin-bottom: 20px;
}

.article-2-information-text{
  margin-bottom:50px;
}

.article-2-photo{
  margin-bottom:100px;
}

.article-2-photo img{
  margin-right:44px;
}

.article-3 {
  width: 975px;
  height: 677px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 115px;
}

.article-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position: center 15%;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-3-information {
  width: 1003px;
  margin-left: 21px;
  padding-top: 18px;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 20px;
}

.article-3-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.article-3-text {
  margin-bottom: 20px;
}

.article-3 img{
  margin-top:20px;
}

.article-3-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article-3-li {
  margin-bottom: 30px;
}

.xx-1 {
  width: 1074px;
  height: 428px;
  margin-bottom: 137px;
}

.article-4 {
  width: 1074px;
  height: 506px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 115px;
}

.article-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position: 20% 15%;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-4-information {
  width: 1003px;
  margin-left: 21px;
  margin-bottom: 36px;
  padding-top: 26px;
  font-size: 20px;
  line-height: 20px;
}

.article-4-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.article-4-text{
  margin-bottom: 20px;
}
.article-4-photo{
  margin-bottom: 40px;
}
.article-4-photo img{
  margin-right: 44px;
}

.article-5 {
  width: 1074px;
  height: 610px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 101px;
}

.article-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-5-information {
  width: 1003px;
  margin-left: 19px;
  padding-top: 9px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
}

.article-5-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.article-5-text {
  margin-bottom: 30px;
}

.article-5-information-text{
  margin-bottom: 40px;
}

.article-5-photo{
  margin-bottom: 60px;
}

.article-5-photo img{
  margin-right: 44px;
}

.article-6 {
  width: 1074px;
  height: 714px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 101px;
}

.article-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position:10% center;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-6-information {
  width: 1003px;
  height: 106px;
  margin-left: 21px;
  padding-top: 23px;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 20px;
}

.article-6-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.article-6-information-text{
  margin-bottom:20px;
}

.article-6-text{
  margin-bottom:40px;
}

.article-6-photo{
  margin-left:228px;
}

.article-6-photo img{
  margin-right:122px;
}

.article-7 {
  width: 1074px;
  height: 274px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 101px;
}

.article-7::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 13px;
  height: auto;
  background-image: url("../img/bgmainborder.jpg");
  background-size: cover;
  background-position:10% center;
  border-radius: 15px 0 0 15px;
  pointer-events: none;
}

.article-7-information{
  width: 1003px;
  margin-left: 21px;
  padding-top: 23px;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 20px;
}

.article-7-title{
  margin-bottom:20px;
}

.article-7-text{
  margin-bottom:20px;
}